{% extends "base.html" %}
{% block content %}
<!-- This page just displays the booking donfirmation if all the inputs are correct.  -->
<h3 class="text-center">Booking confirmation:</h3>

<h6 class="text-center">Customer: {{customerdata[1]}} {{customerdata[2]}}</h6><br>
<h6 class="text-center">Site: {{site}}</h6><br>
<h6 class="text-center">Start of booking: {{bookingdate}}</h6><br>
<h6 class="text-center">Number of nights: {{bookingnights}}</h6> <br>
<h6 class="text-center">Occupancy: {{occupancy}}</h6>



{% endblock %}