{% extends "base.html" %}
{% block content %}
<h2>Selwyn Campground - Camper List</h2>

<!-- Insert code to loop over the list of campers and display them -->

{{camperlist}}

<!--
<table>
    <tr><th>Book ID</th><th>Title</th><th>Author</th><th>Type</th><th>Year of Publication</th><th>Description</th></tr>
    {% for book in booklist %}
        <tr>
            {% for entry in book %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
-->
{% endblock %}