{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of books-->
<h2 class="text-center">Selwyn Campground Customer Search</h2>
<h3 class="text-center">Search for a customer</h3>
<!-- This part gets the search string to match  -->
<form action="/customer/search" method="POST" class="row needs-validation" novalidate>
    
    <div class="container text-center">
        <div class = "row justify-content-center">
            <div class="col-auto">
                <input type="text" class="form-control" name="customername" required/>
                <div class="invalid-feedback">
                    Please input a search value
                </div>
            </div>
            <div class = "col-auto">
                <input class="btn btn-secondary" type="submit"/>
            </div>
        </div>
    </div>
    
</form>
<!-- This page can be accessed by both GET and POST. This part does nothing if it is accessed by GET, 
 but displays the data of the customers who have matched the search string. 
 This is to ensure that the part where the results are shown is originally blank when first accessed.   -->
{% if request.method=="POST" %}
    {% if customerdata %}
        <div class="container text-center">
            <div class = "row justify-content-center">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <div class = "col-auto">
                                <th>Family Name</th>
                            </div>
                            <div class = "col-auto">
                                <th>First Name</th>
                            </div>
                            <div class = "col-auto">
                                <th>Email Address</th>
                            </div>
                            <div class = "col-auto">
                                <th>Phone Number</th>
                            </div>
                            <div class = "col-auto">
                                <th>Make a booking</th>
                            </div>
                            <div class = "col-auto">
                                <th>Go to Customer Home Page</th>
                            </div>
                        </tr>
                    </thead>
                    {% for customer in customerdata %}
                        <tr> 
                            <div class = "col-auto">
                                <td>{{customer[2]}}</td>
                            </div>
                            <div class = "col-auto">
                                <td>{{customer[1]}}</td>
                            </div>
                            <div class = "col-auto">
                                <td>{{customer[3]}}</td>
                            </div>
                            <div class = "col-auto">
                                <td>{{customer[4]}}</td>
                            </div>
                            <!-- For this part there is links to make a booking and to the customer home page which passes the customer id automatically -->
                             <!-- This is done to make it easier to redirect to those pages without entering the name of the customer again -->
                            <div class = "col-auto">
                                <td><a href="/bookingget/?customerid={{customer[0]}}" type="button" class="btn btn-secondary">Link</a></td>
                            </div>
                            <div class = "col-auto">
                                <td><a href="/customerhomeget/?customerid={{customer[0]}}" type="button" class="btn btn-secondary">Link</a></td>
                            </div>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
        <br>
        <h5 class="text-center">No search results found</h5>
    {% endif %}
{% else %}
<!-- Do nothing -->
{% endif %}



{% endblock %}