{% extends "base.html" %}
{% block content %}

<h2 class="text-center">Selwyn Campground - Customer Report</h2>
<h3 class="text-center">Report for customer - {{customerdata[0][1]}} {{customerdata[0][2]}}</h3>

    <!--This page shows the statistics for the customer chosen, the total nights booked, average occupancy and the bookigs. -->
    {% if customerbookingdata %}
        <h5 class="text-center">Stats:</h5>
        <br>
        <h5 class="text-center">Total Nights Booked: {{totalnightsbooked}}</h5>
        <br>
        <h5 class="text-center">Average Occupancy: {{averageoccupancy}}</h5>

        <div class="container text-center">
            <div class = "row justify-content-center">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <div class = "col-auto">
                                <th>Booking Date</th>
                            </div>
                            <div class = "col-auto">
                                <th>Site ID</th>
                            </div>
                            <div class = "col-auto">
                                <th>Occupancy</th>
                            </div>
                        </tr>
                    </thead>
                    {% for data in customerbookingdata %}
                        <tr> 
                            <div class = "col-auto">
                                <td>{{data[3]}}</td>
                            </div>
                            <div class = "col-auto">
                                <td>{{data[1]}}</td>
                            </div>
                            <div class = "col-auto">
                                <td>{{data[4]}}</td>
                            </div>
                       </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
        <br>
        <h5 class="text-center">No bookings found</h5>
    {% endif %}

{% endblock %}