{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of books-->
<h2 class="text-center">Selwyn Campground - Customer Home</h2>
<h3 class="text-center">Choose the customer</h3>


{% if customerid %}
    <form action="/customerhomeget/?customerid={{customerid}}" method="POST" class="row needs-validation" novalidate>
{% else %}
    <form action="/customerhome" method="POST" class="row needs-validation" novalidate>        
{% endif %}
    <div class="container text-center">
        <div class = "row justify-content-center">
            <div class = "col-auto">
                <br>
                <select class="form-select" name="customerid" required>
                    <option {% if customerid is none %} selected {% endif %} disabled value="">Choose customer</option>    
                    {% for customer in customerdata %}
                        <!-- If there is a customer id passed to this page, it is used to automatically fill in the customer name 
                        so that it is easier for the user than scrolling through the list.
                        It gets selected on the list when it maches the customer id-->
                        <option {% if customerid|int == customer[0]|int %} selected {% endif %} value="{{customer[0]}}" required>{{customer[2]}}, {{customer[1]}}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Please select a valid customer
                </div>
            </div>
            <div class = "col-auto">
                <br>
                <input class="btn btn-secondary" type="submit" name="Edit" value="Edit"/>
            </div>
            <div class = "col-auto">
                <br>
                <input class="btn btn-secondary" type="submit" name="Report" value="Report"/>
            </div>
        </div>
    </div>
</form>




{% endblock %}