{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of books-->
<h2>Selwyn Campground Customer Search</h2>
<h3>Search for a customer</h3>

<form action="/customer/search" method="POST" class="row needs-validation" novalidate>
    <div class="col-auto">
        <input type="text" class="form-control" name="customername" required/>
        <!-- <div class="valid-feedback">
            Looks good!
        </div> -->
        <div class="invalid-feedback">
            Please input a search value
        </div>              
    </div>
    <div class = "col-auto">
        <input type="submit"/>
    </div>
    
</form>
{% if request.method=="POST" %}


    {% if customerdata %}
    

        <table class="table table-hover">
            <thead>
                <tr><th>Customer ID</th><th>First Name</th><th>Family Name</th><th>Email Address</th><th>Phone Number</th></tr>
            </thead>
            {% for customer in customerdata %}
                <tr>
                    <td>{{customer[0]}}</td>
                    <td>{{customer[1]}}</td>
                    <td>{{customer[2]}}</td>
                    <td>{{customer[3]}}</td>
                    <td>{{customer[4]}}</td>
                    <!-- <td><a href="/booking/{{customer[0]}}">Make a booking</a></td> -->
                    <td><a href="/bookingget/?customerid={{customer[0]}}">Make a booking</a></td>
                </tr>  
            {% endfor %}
        </table>
    {% else %}
        No search results found
    {% endif %}

{% else %}


{% endif %}



{% endblock %}