{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of books-->
<h2>Selwyn Campground - Make a booking</h2>
<h3>Choose the date you'd like the booking to start on.</h3>
{% if customerid %}
    <!-- <form action="/booking/{{customerid}}" method="POST" class="row needs-validation" novalidate> -->
    <form action="/bookingget/?customerid={{customerid}}" method="POST" class="row needs-validation" novalidate>
{% else %}
    <form action="{{url_for('booking')}}" method="POST" class="row needs-validation" novalidate>        
{% endif %}
<div class="container text-center">
    <div class = "row justify-content-center">
        <div class = "col-auto">
            <label for="bookingdate">Choose start night of booking</label><br>
            <input type="date" class="form-control" min="{{currentdate}}" name="bookingdate" required/>
            <div class="invalid-feedback">
                Please select a valid date
            </div> 
        </div>
        <div class = "col-auto">
            <label for="bookingnights">Number of nights</label><br>
            <input type="number" class="form-control" name="bookingnights" min="1" max="5" step="1" value="1" required/>
            <div class="invalid-feedback">
                Value cannot be 0
            </div> 
        </div>
        <div class = "col-auto">
            <label for="occupancy">Number of people</label><br>
            <input type="number" class="form-control" name="occupancy" min="1" max="8" step="1" value="1" required/>
            <div class="invalid-feedback">
                Value cannot be 0
            </div> 
        </div>
        
        
        <div class = "col-auto">
            <br>
            <input class="btn btn-secondary" type="submit"/>
        </div>
    </div>
</div>


</form>

{% endblock %}