{% extends "enterdetails.html" %}
{% block content %}

{% if flagfirstname and flagfamilyname and flagemail and flagphone %}
    Changes saved
{% else %}
    Changes not saved
{% endif %}

<h5>
    {% if customerid %} Customer = {{customerid}} {% endif %}
</h5><br>
<h5>
    First Name = {% if flagfirstname %} {{firstname}} {% else %} Invalid entry {% endif %}
</h5><br>
<h5>
    Family Name = {% if flagfamilyname %} {{familyname}} {% else %} Invalid entry {% endif %}
</h5><br>
<h5>
    Email Address =  {% if flagemail %} {{email}} {% else %} Invalid entry {% endif %}
</h5><br>
<h5>
    Phone = {% if flagphone %} {{phone}}  {% else %} Invalid entry {% endif %}
</h5><br>





{% endblock %}