{% extends "enterdetails.html" %}
{% block content %}

{% if flagfirstname and flagfamilyname and flagemail and flagphone %}
    <br><h4>Changes saved</h4><br>
{% else %}
    <br><h4>Changes not saved</h4><br>
{% endif %}

<h6>
    {% if customerid %} Customer = {{customerid}} {% endif %}
</h6><br>
<h6>
    First Name = {% if flagfirstname %} {{firstname}} {% else %} Invalid entry {% endif %}
</h6><br>
<h6>
    Family Name = {% if flagfamilyname %} {{familyname}} {% else %} Invalid entry {% endif %}
</h6><br>
<h6>
    Email Address =  {% if flagemail %} {{email}} {% else %} Invalid entry {% endif %}
</h6><br>
<h6>
    Phone = {% if flagphone %} {{phone}}  {% else %} Invalid entry {% endif %}
</h6><br>





{% endblock %}