{% extends "base.html" %}

{% block content %}
<!-- For this page there is a problem with the email validation.
 Email addresses not in the correct format are not caught in the automatic validation by bootstrap
 even when setting the input type="email". Things like be@d get accepted.
 So for entering the details, everything is sent to the back end where the secondary validation is made. 
 The pattern works for the validating the text inputs and the phone number using the default browser validation,
 but they are checked again at the back end just the same.   -->
<!-- This page is shared by the adding a customer and editing a customer, 
and is dependent on whether a customer id is supplied when this page is called -->
<h2 class="text-center">Selwyn Campground Enter Customer Details</h2>
<br>
    {% if customerid %}
        
        <form action="/customerhome/edit" method="POST" class="row needs-validation">
    {% else %}
        
        <form action="/customer/add" method="POST" class="row needs-validation">
    {% endif %}
        
        <input type = "hidden" name = "customerid" value="{{customerid}}"/>

            <div class="container text-center">
                <div class = "row justify-content-center">
                    <div class="col-auto">
                        <label for="firstname" class="form-label">First name: </label><br>
                        <input type="text" class="form-control" name="firstname" {% if customerdata %} value="{{customerdata[1]}}" {% endif %} pattern= "(^[a-zA-Z][a-zA-Z\s]{0,60}[a-zA-Z]$)" required />
                        <div class="invalid-feedback">
                            Please enter valid first name
                        </div>  
                    </div>
                    <div class="col-auto">
                        <label for="familyname" class="form-label">Family name: </label><br>
                        <input type="text" class="form-control" name="familyname" {% if customerdata %} value="{{customerdata[2]}}" {% endif %} pattern="(^[a-zA-Z][a-zA-Z\s]{0,60}[a-zA-Z]$)" required />
                        <div class="invalid-feedback">
                            Please enter valid family name
                        </div>  
                    </div>
                    <div class="col-auto">
                        <label for="email" class="form-label">Email Address: </label><br>
                        <input name="email" type="email" id="typeEmail" class="form-control"  {% if customerdata %} value="{{customerdata[3]}}" {% endif %} pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
                        <div class="invalid-feedback">
                        Please enter valid email address
                        </div>  
                    </div>
                    <div class="col-auto">
                        <label for="phone" class="form-label">Phone number: </label>
                        <input name="phone" class="form-control" type="tel" pattern = "^0\d{8,10}$" {% if customerdata %} value="{{customerdata[4]}}" {% endif %} required/>
                        <div class="invalid-feedback">
                            Please enter valid phone number
                        </div>  
                    </div>
                    <div class = "col-auto">
                        <br>
                        <input class="btn btn-secondary" type="submit"/>
                    </div>
                </div>
                
            </div>   
        
    </form>


{% endblock %}