{% extends "base.html" %}
{% block content %}

<h2>Selwyn Campground Edit MyCustomer </h2>
<h3>Edit customer</h3>


<form action="/mycustomer/edit" method="POST">
    <input type = "hidden" name = "customerid" value="{{customerid}}"/>
    <label for="firstname" class="form-label">Edit First name: </label>
    <input type="text" name="firstname" required />
    <label for="familyname" class="form-label">Edit Family name: </label>
    <input type="text" name="familyname" required/>
    <label for="email" class="form-label">Edit Email Address: </label>
    <input type="text" name="email" required/>
    <label for="phone" class="form-label">Edit Phone number: </label>
    <input type="text" name="phone" required/>
    <input type="submit"/>
    <div class="invalid-feedback">
        Please enter valid data
    </div>  
</form>

{{customerdata}}

{% endblock %}