{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of books-->
<h2>Selwyn Campground - Customer Home</h2>
<h3>Choose the customer</h3>

{% if customerid %}
    <!-- <form action="/booking/{{customerid}}" method="POST" class="row needs-validation" novalidate> -->
    <form action="/mycustomerget/?customerid={{customerid}}" method="POST" class="row needs-validation" novalidate>
{% else %}
    <form action="/mycustomer" method="POST" class="row needs-validation" novalidate>        
{% endif %}

<!-- <form action="/mycustomer" method="POST"> -->
    <div class="container text-center">
        <div class = "row justify-content-center">
            <div class = "col-auto">
                <br>
                <select class="form-select" name="customerid" required>
                    <option {% if customerid is none %} selected {% endif %} disabled value="">Choose customer</option>    
                    {% for customer in customerdata %}
                        <option {% if customerid|int == customer[0]|int %} selected {% endif %} value="{{customer[0]}}" required>{{customer[2]}}, {{customer[1]}}</option>
                        <!-- <option value="{{customer[0]}}">{{customer[2]}}, {{customer[1]}}</option> -->
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Please select a valid customer
                </div>

            </div>
            <div class = "col-auto">
                <br>
                <input class="btn btn-secondary" type="submit" name="Edit" value="Edit"/>
            </div>
            <div class = "col-auto">
                <br>
                <input class="btn btn-secondary" type="submit" name="Report" value="Report"/>
            </div>

        </div>
    </div>
    



    
        



    <!-- <select name="customerid">
        {% for customer in customerdata %}
            <option value="{{customer[0]}}">{{customer[1]}} {{customer[2]}}</option>
        {% endfor %}
        
    </select> -->
    <!-- <button type="submit">Edit</button>
    <button type="submit" formaction="/mycustomer/report">Report</button> -->
    <!-- <input type="submit" name="Edit" value="Edit">
    <input type="submit" name="Report" value="Report"> -->
</form>




{% endblock %}